@using YesSIMobileModels.Models
@page "/List"
@layout  AccueilLayout
@inherits ListLicensesBase

@inject HttpClient Http








<h1>Consultation des licenses</h1>

<p>
    <a href="/AddLicense">Ajouter une nouvelle licence</a>
</p>
@if (List2 == null)
{
    <p><em>Loading...</em></p>
    <p>@List2.ToString()</p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Pkey</th>
                <th>Sociéte</th>
                <th>Admin Email</th>
                <th>Serveur</th>
                <th>Nombre d'utilisateur autorisé</th>
                <th>Date d'activation</th>
                <th>Date d'expiration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in List2)
            {
                <tr>
                    <td>@emp.Pkey</td>
                    <td>@emp.Description</td>
                    <td>@emp.AdmUserEmail</td>
                    <td>@emp.ServerUrl</td>
                    <td><center>@emp.UserNumber</center> </td>
                    <td>@emp.DateActivated</td>
                    <td>@emp.ExpireDate</td>
                    <td>
                        <a href='/editLicense/@emp.Pkey'>Edit</a>
                        <button class="btn" @onclick="() => HandleDelete(emp.Pkey.ToString())"><i class="fa fa-close"></i></button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}


@code{

    HttpClient Client = new();
    protected void HandleDelete(string pkey)
    {
        Client.GetAsync(Const.URL + "DeleteLicense?id=" + pkey);
        NAV.NavigateTo("/List", true);
    }

}